.cost-form__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
}

.cost-form__element {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 8px;
}

.cost-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cost-form__button button {
  box-shadow: 4px 4px 12px 4px rgba(229, 236, 242, 0.1);
}
