.cost-item {
  display: flex;
  justify-content: space-between;
  background: radial-gradient(circle, rgba(30,62,224,1) 0%, rgba(115,0,159,1) 100%);
  padding: 20px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
}

.cost-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
